* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-size: 62.5%;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    align-items: center;
    padding-top: 2%;
    font-size: 16px;
}
header nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.lambda-logo img {
    margin: 5%;
}

header {
    width: 800px;
    margin: 0 auto;
}

body{
    margin-left: 200px;
    margin-right: 200px;
}

 .header-img {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.header-img img {
    flex-grow: .5;
}


h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
    font-size: 18px;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
    margin: 5%;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
    margin-top: 2%;
}

footer nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.about-us {
    display: flex;
    flex-flow: row wrap;
    padding-left: 10%;
    /* width: 600px; */
}


.about-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2%;

}

.about-us img{
    width: 90%;

}

button {
    width: 40%;
    padding: 3%;
    margin: 2% 0;
    background: white;
    border-radius: 5px;
    font-size: 14px;
}

h3 {
    margin: 2% 0;
}

.closing{
    margin: 5%;
}